{% extends 'base.html' %}
{% block content %}
{% for test in page_obj %}
<div class="container py-5">
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <a href="{% url 'test:tests' test.id %}">
          <button style="text-align: center; 
                        position: relative; 
                        background-color:rgb(0, 234, 255); 
                        border-color:rgb(15, 15, 117); 
                        color:white; 
                        height:100px;
                        width:150px;">
            Тест: {{ test.name }}
          </button>
        </a>
      </li>
    </ul>
  </aside>
</div>
{% endfor %}
{% include 'includes/paginator.html' %}
{% endblock content %}